<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/images/avatar.jpg" alt="avatar" class="profile-card__avatar">
    <div class="profile-card__name">
      <strong class="h6">Райан Гослинг</strong>
      <span>rayan.gosling</span>
    </div>
  </div>
  <div class="profile-card__description">
    Райан Томас Гослинг (англ. Ryan Thomas Gosling, род. 12 ноября 1980, Лондон, Онтарио, Канада) — канадский актёр. Известен по ролям в независимых фильмах и крупных студийных проектах разных жанров. Сборы фильмов с его участием составили свыше 1,9 миллиарда долларов.
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">SCSS</div>
    <div class="skill-tag">REST</div>
  </div>
  <div class="profile-card__action-btns">
    <button class="button">Подписаться</button>
  </div>
</div>